.login__auth__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.login__auth {
    width: 500px;
    padding: 2rem;
    background-color: white;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}